body{
	padding:0;
	margin:0;
	background-color: red;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.controlButton{
	font-size:20px;
	padding: 5px 10px;
	text-decoration:none;
	border:none;
	border-radius:2px;
}

.controlButton:hover{
	background-color:black;
	color:white;
	cursor:pointer;
};
